#### Relevant Imports

In [21]:
from sqlalchemy import create_engine, text

**Engine**  
Engine is the abstract object from SQLAlchmey which connects to a host to particular Database  
In an an engine further connections can be created to query data  
This generic concepts make it Database agnostic

In [25]:
# There is an engine instance created, which can handle multiple connetions
sql_engine = create_engine("mysql+pymysql://rfamro:@mysql-rfam-public.ebi.ac.uk:4497/Rfam")

**Connection and Query**
Connection object creates a connection (its within the object)  
Then it is used to raise query (Execute Query String)

In [41]:
# Create a Connection in engine and raise a query to get data
conn_1 = sql_engine.connect ()
result = conn_1.execute(text("SELECT COUNT(*) FROM full_region;"))

# Fetch the result content
for row in result:

    print (row)
    print (type(row))

(10736534,)
<class 'sqlalchemy.engine.row.Row'>

In [ ]:
# Get more data, parallelly from another connection in same engine
conn_2 = sql_engine.connect ()
result = conn_2.execute(text("SELECT * FROM full_region LIMIT 10;"))

# Fetch the result content
print (result.keys())
for row in result:

    print (row)
    print (type(row))

In [44]:
# For a Given value of rfam_acc, how many Ncbi Id
result = conn_1.execute (text(
                             "SELECT COUNT(DISTINCT fn.ncbi_id) AS ncbi_count\
                            FROM family_ncbi fn\
                            WHERE fn.rfam_acc = 'RF01530';"))

for row in result:

    print (row)

(14,)

**Data from multiple tables**  
Data from multiple table can be collated by the linking fields by JOIN queries

In [ ]:
# For a Given value of rfam_acc, how many species are present in another table based on its ncbi_id
result = conn_1.execute (text(
                             "SELECT DISTINCT fn.rfam_acc, fn.ncbi_id, t.species AS species\
                            FROM family_ncbi fn\
                            JOIN taxonomy t ON fn.ncbi_id = t.ncbi_id\
                            WHERE fn.rfam_acc = 'RF01530'"))

for row in result:

    print (row)

In [ ]:
# Consolidated information from 3 tables
result = conn_1.execute (text(
                                "SELECT fn.rfam_id, fn.ncbi_id, t.species, f.rfam_id AS family_rfam_id, f.auto_wiki, f.description\
                                FROM family_ncbi fn\
                                JOIN taxonomy t ON fn.ncbi_id = t.ncbi_id\
                                JOIN family f ON fn.rfam_acc = f.rfam_acc\
                                WHERE fn.rfam_acc = 'RF01530'"))

rows = result.fetchall ()
print (rows)